# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\btl-ltm\btlltm-ptit-master\btlltm-tcp-server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
